# Ignore Python virtual environment
.venv/

# Ignore PyCharm project settings
.idea/

# Ignore Python cache files
__pycache__/


# Ignore compiled files
*.exe
*.pkg

# Ignore pyinstaller builds
*.spec
